@page "/monitor"
@model RaspberryPiWebServer.Pages.MonitorModel

<h2 id="blink">Monitor</h2>

@section Scripts{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/pages/monitor.js"></script>
}